{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    Repartidores
{% endblock titulo %}

{% block cabecera %}
Listado de Repartidores
{% endblock cabecera %}

{% block contenido %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    {% for repartidor in repartidores %}
    <tr>
        <td>{{ repartidor.id }}</td>
        <td>{{ repartidor.nombre}}</td>
        <td>{{ repartidor.apellido}}</td>
        <td>{{ repartidor.email}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}